<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086759579070-5tulqcco0vlu6bcon5hge0cc8280lrsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086759579070-5tulqcco0vlu6bcon5hge0cc8280lrsf</string>
	<key>API_KEY</key>
	<string>AIzaSyB4H7XBUEDyRAF3i4a-EZG6N5p2YvOBv3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1086759579070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beatim.co.jp.beatim5</string>
	<key>PROJECT_ID</key>
	<string>beatim5-3e4cb</string>
	<key>STORAGE_BUCKET</key>
	<string>beatim5-3e4cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086759579070:ios:1fc9a78777260d29101def</string>
</dict>
</plist>